body {
	margin: 0;
	text-align: center;
}

h1,
p {margin: 0;}

.spoiler {
  position: relative;
  width: 300px;
  min-height: 50px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  line-height: 50px;
}

.spoiler-button {
  padding: 0;
  border: none;
  color: #01a6f6;
  text-align: center;
  text-decoration: underline;
  background: none;
}

.spoiler-button:hover {
	cursor: pointer;
	text-decoration: none;
}

.spoiler-button:focus {text-decoration: none;}

.spoiler-content {display: none;}

.spoiler-content-show {display: block;}