body {
	margin: 0;
	text-align: center;
}

h1,
p {margin: 0;}

.spoiler {
  position: relative;
  width: 300px;
  min-height: 50px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  line-height: 50px;
}

.spoiler-button {
  width: inherit;
  min-height: inherit;
  display: none;
  padding: 0;
  border: none;
  color: #fff;
  text-align: center;
  background: #444;
}

.spoiler-button--show {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
}

.spoiler-button:hover {cursor: pointer;}